@media screen and (min-width: 768px) {

    /* MENU */

    #menu {
        display: none;
    }

    /* NAVIGATION */

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: #1f1f1f;
    }

    .navigation a {
        border: none;
        padding: 1rem 2rem;
    }

    /* TOP GRID */

    .top-sections {
        grid-template-columns: 2fr 1fr;
        align-items: start;
    }

    /* COURSES */

    #courses {
        grid-template-columns: repeat(3, 1fr);
    }

    .course-card {
        padding: 1.2rem;
    }
}